/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/10/2014, 09:52:27 PM
    Author     : Roosvelt
*/

/*
CSS FORM VALIDATION
*/

.form-group .error{
    color:#b94a48
}

.form-group input.error{
    border-color:#b94a48
}